body {
  font-family: sans-serif;
}

.btn {
  text-align: center;
  font-size: 36pt;
  color: white;
  text-decoration: none;
  padding: 24px;
  width: 300px;
}

a {
  text-decoration: none;
}

.on {
  background: #3E7064;
}

.off {
  background: #962223;
}
